* {
    padding: 0;
    margin: 0;
}

.first, .second, .third, .fourth, .last, .nav, footer {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
}



/*First, second, third, fourth, last page Header*/
.first, .second, .third, .fourth, .last {
    height: 500px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/*Home Header Image*/
.first {
    background-image: url("../images/tulips.jpg");
    background-color: #ffe6ff;
}

/*So You Want to... h1*/
.main {
    padding: 5px;  
    border: solid #d3d3d3 2px;
    background-color: rgb(204, 0, 153);
    background-color: rgba(204, 0, 153, 0.8);
    color: #ffffff;
    text-shadow: 3px 3px 7px #4d0039 ;
    font: bolder 40px 'Roboto', sans-serif;
}



/*History Header Image*/
.second {
    background-image: url("../images/redflowerfield.jpg");
    background-color: #ffbb99;
}

/*What is... h1*/
.history {
    padding:5px 25px;
    border: solid #d3d3d3 2px;
    background-color: rgb(204, 82, 0);
    background-color: rgba(204, 82, 0, 0.8);
    color: #ffffff;
    text-shadow: 3px 3px 7px #4d1f00;
    font: bolder 40px 'Roboto', sans-serif;
}



/*Getting Started Header Image*/
.third {
    background-image: url("../images/greenseedlings.jpg");
    background-color: #008000;
}

/*Getting Started h1*/
.start {
   padding:5px 35px;
    border: solid #d3d3d3 2px;
    background-color: rgb(179, 134, 0);
    background-color: rgba(179, 134, 0, 0.8);
    color: #ffffff;
    text-shadow: 3px 3px 7px #4d1f00;
    font: bolder 40px 'Roboto', sans-serif; 
}

/*What to Grow Header Image*/
.fourth {
    background-image: url("../images/greensanddirt.jpg");
    background-color: #008000;
}

/*What to Grow h1*/
.grow {
   padding:5px 35px;
    border: solid #d3d3d3 2px;
    background-color: rgb(204, 0, 0);
    background-color: rgba(204, 0, 0, 0.8);
    color: #ffffff;
    text-shadow: 3px 3px 7px #4d1f00;
    font: bolder 40px 'Roboto', sans-serif; 
}

/*Resources Header Image*/
.last {
    background-image: url("../images/whitepinkflowerfield.jpg");
    background-color: #008000;
}

/*Resources h1*/
.resources {
   padding:5px 60px;
    border: solid #d3d3d3 2px;
    background-color: rgb(204, 0, 102);
    background-color: rgba(204, 0, 102, 0.8);
    color: #ffffff;
    text-shadow: 3px 3px 7px #4d1f00;
    font: bolder 40px 'Roboto', sans-serif; 
}

/*Navigation Bar & Footer - Same on all pages*/
.nav { 
    list-style-type: none;
    justify-content: space-around;
    padding: 8px;
    background-image: url("../images/grass.jpg");
    background-color: #669900;
}

footer {
   justify-content: center;
    padding: 8px;
    background-image: url("../images/grass.jpg");
    background-color: #669900; 
}

footer a {
    text-decoration: none;
    font: bolder 18px 'Roboto', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 7px #003300;
    padding: 6px;
}

.nav li {
    padding: 8px;
    background-color: rgb(242, 242, 242);
    background-color: rgba(242, 242, 242, 0);
}

.nav a {
    text-decoration: none;
    font: bolder 18px 'Roboto', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 7px #003300;
    padding: 6px;
}

.nav a:hover, footer a:hover {
	border: 1px solid #FFFFFF;
	background: rgb(102, 102, 102);
	background: rgba(102, 102, 102, .8);
}



/*Homepage Pics arranged in a row */
  .homepicscontainer {
      display: flex;
      justify-content: space-between;
      border-collapse: collapse;
      /*width: 100%;*/
      padding: 15px;
    } 
    
    /* Individual Gallery Pics */
    .homepic1, .homepic2, .homepic3, .histgal1, .histgal2, .histgal3, .histgal4, .startgal1, .startgal2, .startgal3, .startgal4, .growgal1, .growgal2, .growgal3, .growgal4 {
            height: 333px;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;
            color: #ffffff;
            text-shadow: 2px 2px 7px #003300;
            font: bolder 30px 'Roboto', sans-serif;
    }
    
    .homepic1, .homepic2, .homepic3 {
        width: 33%;
    }
    
    .homepic1 {
        background-image: url("../images/orangeyellowflowers.jpg");
        /*margin-left: 15px;*/
        margin-right: 15px;
    }
    
    .homepic2 {
        background-image: url("../images/redchiles.jpeg");
        margin-right: 15px;
    }
    
    .homepic3 {
        background-image: url("../images/peachtree.jpg");
        /*margin-right: 15px;*/
    }
    
    
    /* Captions for all gallery pictures */
    .textbeaut, .textspicy, .textsweet, .textdirty, .texthealthy, .textfun, .textnature, .textdig, .texttaste, .textsweet, .textprecious, .textstunning, .textdivine, .textzesty, .textexquisite, .rescap {
            width: 100%;
            color: #ffffff ;
            background: rgb(102,102,102);
            background: rgba(102, 102, 102, .8);
            text-align: center;
            padding: 10px;
    }
    
    
    
    
    /*History Pics: Right side, Left side */
    .histsec1, .histsec2 {
        display: flex;
        flex: 1 3 30%;
        flex-direction: column;
        border-collapse: collapse;
        padding: 15px;
    }
    
    
    .histgal1 {
        background-image: url("../images/younggirlgardenplot.jpg");
        margin-bottom: 15px;
    }
    
    .histgal2 {
        background-image: url("../images/tomatobowlhand.jpg");
    }
    
    .histgal3 {
        background-image: url("../images/twochildplay.jpg");
        margin-bottom: 15px;
    }
    
    .histgal4 {
        background-image: url("../images/womanplanting.jpg");
    }
    
    
    
    .histext {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        padding: 15px 15px;
        flex: 2 1 30%;
    }
    
    .histcontainer {
        display: flex;
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        line-height: 1.8;
    }
    
    
    
    /*Getting Started Pics: Right side, Left side */
    .startsec1, .startsec2 {
        display: flex;
        flex: 1 3 30%;
        flex-direction: column;
        border-collapse: collapse;
        padding: 15px;
    }
    
    
    .startgal1 {
        background-image: url("../images/greenshovelsoil.jpg");
        margin-bottom: 15px;
    }
    
    .startgal2 {
        background-image: url("../images/vegetablebasket.jpeg");
    }
    
    
    .startgal3 {
        background-image: url("../images/strawberryplantwithgreen.jpg");
        margin-bottom: 15px;
    }
    
    .startgal4 {
        background-image: url("../images/handsmallflower.jpg");
    }
    
    
    .starttext {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        padding: 15px 15px;
        flex: 2 1 30%;
    }
    
    .startcontainer {
        display: flex;
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        line-height: 1.8;
    }
    
    a.startlink {
        text-decoration: none;
        color: #009933;
        text-shadow: 1px 1px 0px #003300;
        padding: 3px;
    }
    
    a.startlink:hover {
        color: #ffffff;
        /*text-shadow: 1px 1px 2px #404040;*/
        padding: 3px;
        background: rgba(102, 102, 102, .7);
    }
    
    
    
/*What to Grow Pics: Right side, Left side */
    .growsec1, .growsec2 {
        display: flex;
        flex: 1 3 30%;
        flex-direction: column;
        border-collapse: collapse;
        padding: 15px;
    }
    
    
    .growgal1 {
        background-image: url("../images/colorfuldaisies.jpeg");
        margin-bottom: 15px;
    }
    
    .growgal2 {
        background-image: url("../images/redberry.jpg");
    }
    
    
    .growgal3 {
        background-image: url("../images/redpeppergreenherbs.jpg");
        margin-bottom: 15px;
    }
    
    .growgal4 {
        background-image: url("../images/carrotshand.jpg");
    }
    
    
    .growtext {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        padding: 15px 15px;
        flex: 2 1 30%;
    }
    
    .growcontainer {
        display: flex;
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        line-height: 1.8;
    }
    
    /*Need to link ID onto Resources page to specific text*/
    .inlink {
        text-decoration: none;
        color: rgb(204, 0, 102);
        padding: 3px;
    }
    
    .inlink:hover {
        color: #ffffff;
        padding: 3px;
        background: rgba(204, 0, 102, .7);
    } 
    
    
    
    /*Resources Page: Left pic, Right text*/
    
    /*Resources heading image*/
    .resimg {
        /*width: 500px;*/
        height: 750px;
        width: 100%;
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        color: #ffffff;
        text-shadow: 2px 2px 7px #003300;
        font: bolder 30px 'Roboto', sans-serif;
        background-image: url("../images/anotherflowerfield.jpg");
        margin: 15px;
    }
    
    /*Resources heading*/
    /*.rescap {
        width: 100%;
        color: #ffffff ;
        background: rgb(102,102,102);
        background: rgba(102, 102, 102, .8);
        text-align: center;
        padding: 10px;
    }*/
    
    /*Left container with image and caption*/
    .resleft {
        display: flex;
        /*width: 30%;*/
        flex-direction: column;
        border-collapse: collapse;
        padding: 15px;
        flex: 1 3 30%;
    }
    
    /*Right container with text only*/
    .restext {
        /*width: 50%;*/
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        padding: 30px 60px;
        flex: 2 1 50%;
    }
    
    /*Left and right containers*/
    .rescontainer {
        display: flex;
        justify-content: space-around;
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        line-height: 1.8;
    }
    
    #res {
        color: rgb(204, 0, 102);
    }
    
    a.reslinks {
        text-decoration: none;
        color: #009933;
        text-shadow: 1px 1px 0px #003300;
        padding: 3px;
    }
    
    a.reslinks:hover {
        color: #ffffff;
        padding: 3px;
        background: rgba(204, 0, 102, .7);
    }
    
    /*Alternate hover color of grey*/
    /*a.reslinks:hover {
        color: #ffffff;
        text-shadow: 1px 1px 2px #404040;
        padding: 3px;
        background: rgba(102, 102, 102, .7);
    }*/




@media screen and (max-width: 768px) {
    
  .homepicscontainer, .histcontainer, .startcontainer, .growcontainer, .rescontainer {
    flex-direction: column;
  }
  .homepic1, .homepic2, .homepic3 {
      width: 100%;
  }
  .homepic1, .homepic2 {
      margin-bottom: 15px;
  }
  
  .resleft {
      width: 97%;
      padding: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      /*margin-right: 10px;*/
  }
  .resimg {
      margin-top: 5px;
      margin-right: 5px;
  }
  
  .restext {
      padding: 30px 30px;
  }
}
